.heropanel {
    position: relative;
}

.heroimage {
    width: 100%;
}

.content {
    position: absolute;
    top: 55%;
    left: 10%;
    color: white;
    width: 35%;
}

.content p {
    width: 300px;

}


@media only screen and (max-width: 767px) {
    .content {
        top: 5%;
        width: 80%;
    }

}